body {
    font-family: 'Garamond', 'Georgia', serif;
}

.book-brand {
    text-align: center;
}

.book-brand img {
    width: 10rem;
    height: auto;
    margin-right: 0;
}

img {
    vertical-align: baseline;
}

.book-menu {
    font-size: 110%;
}

aside nav ul a:hover {
    border-bottom: 1px solid #999;
    color: #444 !important;
    opacity: 1;
}

.book-menu ul a.active {
    color: #444;
}

.book-menu ul a {
    line-height: 1;
    font-size: 100%;
    text-decoration: none;
    border-bottom: 1px dotted #999;
    display: inline;
    color: #444;
}

.book-menu ul {
    list-style: none;
}